/* Fonts */


@import url('https://fonts.googleapis.com/css?family=Poppins');
  
  h1,
  h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 36px;
    font-weight: 800;
  }

  body,
  html {
    padding: 0;
    margin: 0;  
  }

  body {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
  }
  
  html {
    background-color: var(--white);
    font-size: 62.4%;
  }
  
  :root {
    --heading-color: #000000;
    --paragraph-color: #000000;
    --button-background-color: #FFC729;
    --button-text-color: #5B5B68;
    --line-color: #faa634;
    --border-color: white;
  }