/* Fonts */

@import url("https://fonts.googleapis.com/css?family=Poppins:100,300,400,700,900");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  background-color: var(--white);
  /* root font size (10px/16px(browser root)* (100%) */
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  box-sizing: border-box;
  padding: 2rem;
}

:root {
  --heading-color: #000000;
  --paragraph-color: #000000;
  --button-background-color: #ffc729;
  --button-text-color: #5b5b68;
  --line-color: #faa634;
  --border-color: white;
}
